.gifContainer {
  display: flex;
  flex-direction: column;
}

.gif {
  width: 200px;
}

.gif img {
  width: 100%;
}

.selectedGif {
  width: 300px;
}

.selectedGif img {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}